.main {
	text-align: center;
	margin-top: 13%;
	z-index:10;
}

.loading {
	width: 200px;
	height: 20px;
	background-color: #F52525;
	padding: 5px 5px 5px 15px;
	position: fixed;
	top: 0px;
	left: 44%;
	display: none;
	z-index: 2000;
}

.logo ul {
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

.logo ul li{
	display: inline;
	font-size: 60px;
}

.buttons-container {
	background-color: #000;
	text-align: center;
	display: none;
}

#images-container img:hover {
    border: 5px solid #13A3DE;
}

#images-container img.img-selected {
    border: 5px solid #0B6796;
}

.box img {
	border-radius: 5px;
	float: left;
    cursor: pointer;
    border: 5px solid #CCC;
    margin: 2px;
}

#new_selected {
	display: none;
}

.wrapper {
	-webkit-perspective: 1000;
    position: fixed;
    z-index: 1000;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    overflow-x: auto;
    overflow-y: scroll;
    display: none;
}

.image-preview {
	position: relative;
	margin-top: 50px;
}

.image-preview li {
	display: inline-block;
	list-style-type: none;
	padding-right: 20px;
}

.image-preview li .image-container {
	position: relative;
	width: 250px;
}

.image-preview .isnew {
	background-color: #000000;
    color: #FFFFFF;
    height: 26px;
    left: 0;
    padding-top: 5px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 40px;
}

.image-preview .delete-image {
	background-color: #FF0000;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    height: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 20px;
}